
.App {
  text-align: center;
} 

.App-header {
    position: relative;
    z-index: 999;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px rgba(0, 0, 0, 0.5);
}

.background {
  background-image: url("./images/Background.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 1024px;
  position: fixed;
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  z-index:-9999;
}

.img1 {
  float: left;
  position: absolute;
}


.logo {
  width: 180px;
}


.slide {
  animation: slide 24s ease infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  
  12.5% {
    transform: translateX(0%);
  }
  
  
  50% {
    transform: translateX(-100%);
  }
  
  62.5% {
    transform: translateX(-100%);
  }
  
  100% {
    transform: translateX(0);
  }
}


.slider1-css {
  width: 1060px; 
  height: 400.204px; 
  margin-top: 0px; 
  margin-left: 0px;
  
}

.slideshow {
  width: 980px;
  height: 370px;
  margin: 0 auto;
  overflow: hidden;
  border: solid 1px white;
}

.slideshow-container {
  width: 980px;
  font-size: 0;
  transition: 1s ease;
  height: 600px;
  position: relative;
}

