
.App-header {
    z-index: 999;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px rgba(0, 0, 0, 0.5);
    position: fixed;
}
  
.App-header-wrapper {
    padding-bottom: 67px;
}  

.bottom {
    vertical-align: bottom;
    height: 100%;
}

.container-nav {
    display: grid;
    width: 980px;
    height: auto;
    grid-template-columns: 180px 70px 70px 70px 70px 70px;
    grid-gap: 1rem;
    grid-template-areas:
        "content-home content-whats-new content-store content-contact content-about content-portfolio";
}

.content-whats-new {
    grid-area: content-whats-new;
}

.content-home{
    grid-area: content-home;
}

.content-store{
    grid-area: content-store;
}

.content-contact{
    grid-area: content-contact;
}

.content-about{
    grid-area: content-about;
}

.content-portfolio{
    grid-area: content-portfolio;
}

.link {
    background-color: rgba(250, 250, 250, 0);
    border: none !important;
    color: white;
    cursor: pointer;
}

.link:hover {
    background-color: rgba(250, 250, 250, 0);
    border: none !important;
    color: #ff0078;
    cursor: pointer;
    border-bottom-color: #ff0078;
    font-size: 20px;
}

.link-focus {
    background-color: rgba(250, 250, 250, 0);
    border: none !important;
    color: #ff0078;
    cursor: pointer;
    border-bottom-color: #ff0078;
    font-size: 20px;
}

.link-wrapper{
    margin: 0px 25px;
    display: inline-block !important;
}

.logo-style {
    width: 180px;
    cursor: pointer;
}
